$headerColors: ("lightGrey": rgb(223, 216, 216), "darkGrey": rgb(49, 46, 46), "facebookColor": #0866FF, "twitterColor": #1DA1F2, "instagramColor": #E1306C); 
$mainColors: ("mainGrey":#C3D0D1 , "orangeMain": #FF5A00, "mainGreyDark":#788283);
$footerColors: ("color1": #FF6817, "color2": #F43401, "color3": #282B33, "color4": #535B64 );
$whiteColor: #fff;